name: healthchecks

on:
  push:
    branches:
      - 'main'

env:
  TAG: 1.0

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: Docker
          push: true
          tags: ghcr.io/ktsstudio/healthchecks:${{ env.TAG }}